body{
  margin: 0;
  padding: 0;
}

#search-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, #e91e63, #3151b5);
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

#search-box:hover > #search-txt{
  width: 240px;
  padding: 0 6px;
}

#search-box:hover > #search-btn{
  background: white;
  color: black;
}

#search-btn{
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.4s;
}

#search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height:40px;
  width: 0px;
}
